<h1>Nutzungsbedingungen</h1>

<p>Die auf dieser Seite auffindbaren amtlichen Dokumente unterliegen dem Öffentlichkeitsprinzip oder der Justizöffentlichkeit. Du darfst diese Dokumente darum frei herunterladen und verbreiten.</p>

<p>Die auffindbaren Dokumente sind bloss ein Bruchteil aller Behördendokumente. Demzufolge versprechen wir, auch in einzelnen Bereichen, keine vollständigkeit der Dokumente.</p>

<p>Wir übernehmen ausserdem keinerlei Gewähr für die Verfügbarkeit einzelner Dokumente oder dieser Webseite als ganzes.</p>
