<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Befreite Dokumente</h1>
          <p class="lead">Hier findest du von Behörden mittels Öffentlichkeitsgesetzen und dem Grundrecht auf Justizöffentlichkeit befreite Dokumente.</p>
		  <p class="lead">Die <a href="https://parat.swiss" target="_blank">PARAT</a> setzt sich für Transparenz in der Verwaltung, bei Gerichten und in der Politik ein.</p>
        </div>
      </div>
    </div>
  </div>
</div>
