<h1>Datenschutzinformation</h1>
<p>Diese Datenschutzinformation beschreibt ausschliesslich die Bearbeitung von Personendaten im Zusammenhang mit dieser Webseite.</p>

<h2>Kontaktadresse</h2>
<p>Unsere Kontaktadresse für Anliegen des Datenschutzes ist:</p>
<ul>
<li>Briefpost: PARAT, 3000 Bern</li>
<li>E-Mail: <a href="mailto:info@parat.swiss">info@parat.swiss</a></li>
</ul>

<h2>Deine Rechte</h2>
<p>Als betroffene Person kannst Du bei uns folgende gesetzlichen Rechte geltend machen:</p>
<ul>
<li><strong>Auskunftsrecht</strong>: Du kannst von uns Auskunft darüber verlangen, welche Daten über Dich zu welchem Zweck bearbeitet werden.</li>
<li><strong>Löschung</strong>: Du kannst von uns verlangen, dass Dich betreffende Personendaten gelöscht werden.</li>
<li><strong>Widerspruch</strong>: Du kannst von uns verlangen, dass wir in Zukunft keine Dich betreffenden Personendaten mehr bearbeiten.</li>
<li><strong>Berichtigung</strong>: Du kannst von uns verlangen, dass falsche Daten über Dich berichtigt werden.</li>
<li><strong>Einschränkung</strong>: Du kannst von uns verlangen, dass die Bearbeitung Dich betreffender Personendaten eingeschränkt wird.</li>
<li><strong>Datenübertragung</strong>: Du kannst von uns verlangen, dass wir Dich betreffende Personendaten an einen anderen Dienstleister übertragen.</li>
<li><strong>Datenherausgabe</strong>: Du kannst von uns verlangen, dass wir Dir die Dich betreffenden Personendaten herausgeben.</li>
</ul>
<p>Wir identifizieren Dich als betroffene Person vor Ausübung Deiner Rechte aus im Einzelfall angemessene Art und Weise.</p>
<p>Die Ausübung Deiner Rechte ist in der Regel kostenlos. Es können jedoch ausnahmsweise Kosten entstehen, über welche wir vorgängig informieren.</p>
<p>Wir können die Ausübung Deiner Rechte im Rahmen des Gesetzes einschränken, aufschieben oder verweigern. Dies insbesondere, wenn uns eine gesetzliche Aufbewahrungsfrist für die Daten trifft, wenn durch die Ausübung Deiner Rechte die Rechte dritter Personen verletzt würden oder wenn da öffentliche Interesse an der weiteren Bearbeitung überwiegt.</p>
<p>Wenn Du der Meinung bist, dass wir Dich betreffende Personendaten unrechtmässig bearbeiten, hast Du das Recht, Dich hierüber beim für uns zuständigen <a href="https://www.edoeb.admin.ch/edoeb/de/home.html" target="_blank" rel="noreferrer noopener">Eidgenössischen Datenschutz- und Öffentlichkeitsbeauftragten</a> zu beschweren.</p>

<h2>Einzelne Bearbeitungen</h2>

<h3>Bei Besuch der Webseite</h3>
<p>Wenn Du diese Webseite besuchst werden Deine Daten durch uns wie folgt bearbeitet:</p>
<ul>
<li><strong>Server Logs:</strong> Diese Webseite loggt grundsätzlich keine IP-Adressen, wodurch Du beim Besuch nicht identifizierbar ist. Wir behalten und jedoch vor, IP-Adressen kurzzeitig zur Fehlerbehebung oder bei Sicherheitsvorfällen zu loggen. In diesem Fall löschen wir die so erhobenen Daten innerhalb von 48 Stunden, es sei denn, sie würden zu Beweiszwecken benötigt.</li>

<li><strong>Nutzungsanalyse</strong>: Einige Attribute Deines Browsers und Betriebssystems, der Zeitpunkt Deines Besuchs, die aufgerufenen Unterseiten können zum Zweck der Verbesserung dieser Webseite gespeichert werden. Da wir jedoch weder IP-Adressen speichern, noch Browser-Fingerprinting betreiben, sind bist Du durch diese Daten nicht identifizierbar.</li>
</ul>

<h3>Bei Erwähnung in Dokumenten</h3>
<p>Wenn Du ein gewählter Politiker, Richter oder ranghoher Beamter bist, kann es sein, dass Du in den Dokumenten und daran anknüpfend als Autor eines Dokuments und im Suchindex der Webseite erwähnt wirst. Diese Datenbearbeitung erfolgt im überwiegenden öffentlichen Interesse, um Transparenz in staatliche Handeln zu bringen. Diese Dokumente  werden nicht nach einer bestimmten Frist gelöscht.</p>

<h2>Datenbekanntgabe</h2>
<p>Wir geben Deine nicht öffentlich einsehbaren Daten aus dem Besuch dieser Webseite nicht an Dritte weiter, es sei denn:</p>
<ul>
<li>Du Stimmst im Einzelfall zu; oder</li>
<li>Wir sind gesetzlich dazu verpflichtet.</li>
</ul>

<h2>Datensicherheit</h2>
<p>Wir schützen wir Deine nicht öffentlich einsehbaren Daten gegen unbefugten Zugriff.</p>

